certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==2.1.1
distlib==0.3.6
filelock==3.9.0
flake8==6.0.0
identify==2.5.12
idna==3.4
mccabe==0.7.0
nodeenv==1.7.0
platformdirs==2.6.2
pre-commit==2.21.0
pycodestyle==2.10.0
pydantic==1.10.4
pyflakes==3.0.1
PyYAML==6.0
requests==2.28.1
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.17.1
